tags
tmp_*
pdr/plan
MpC
*.om
*.swp
*.swo
**.pyc
*.o
*.a
tmp/
*~
pdr/pdrDagster
lingeling/lingeling
dagster/dagster
dagster/strengthener/depend.mk
__pycache__
extract/extract
madagascar/zPRINTDATE
madagascar/parser.tab.c
madagascar/parser.tab.h
instance.txt
summer1819
pdr/hpctoolkit-pdrDagster-database/
pdr/hpctoolkit-pdrDagster-measurements/
pdr/pdrDagster.hpcstruct
sync.sh
fd/cached_heuristics/*
tests/profile_results/*
pddl-parser-fd
